# Filter requested files
# MD files in root
*.md

# YML files
*.yml
*.yaml

# Dotfiles and dot directories
.*
!.dockerignore

# tmp directory
tmp/

# kilo.jsonc file
kilo.jsonc

# code-workspace file
*.code-workspace

# Optimizations
node_modules/
dist/